:root{
    --letter-X: 27px;
    --multiplcateur: 78.5px;
}
.keyboard {
    display: flex;
    flex-flow: row wrap;
    max-width: 1344px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}
.contain-touch{
    background-image: url("../image/letter-background.png");
    background-size: contain;
    width: 100px;
    height: 100px;
    margin: 10px auto;
}
.contain-touch::after{
    content: '';
    background-image: url("../image/letters_A-Z.png");
    background-size: 2005%;
    background-position: 27px 17px;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.contain-touch:hover {
    box-shadow: inset 0 0 12px 4px black;
    border-radius: 15px;
}
.touchA::after{
    background-position-x: var(--letter-X);
}
.touchB::after{
    background-position-x: calc(var(--letter-X) -  var(--multiplcateur) );
}
.touchC::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*2));
}
.touchD::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*3));
}
.touchE::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*4));
}
.touchF::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*5));
}
.touchG::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*6));
}
.touchH::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*7));
}
.touchI::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*8));
}
.touchJ::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*9));
}
.touchK::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*10));
}
.touchL::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*11));
}
.touchM::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*12));
}
.touchN::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*13));
}
.touchO::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*14));
}
.touchP::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*15));
}
.touchQ::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*16));
}
.touchR::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*17));
}
.touchS::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*18));
}
.touchT::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*19));
}
.touchU::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*20));
}
.touchV::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*21));
}
.touchW::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*22));
}
.touchX::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*23));
}
.touchY::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*24));
}
.touchZ::after{
    background-position-x: calc(var(--letter-X) - (var(--multiplcateur)*25));
}