.show-popup{
    position: absolute;
    padding: 25px 25px 0px;
    border-radius: 5px;
    background-color: #c7c7c7;
    border: 2px solid;
    margin: auto;
    left: 50vw;
    top: 50vh;
    box-shadow: inset 0px 0px 5px white;
    font-size: 1.5em;
    transform: translate(-50%, -50%);
}
.remove{
    display: none;
}
.popup{
    text-align: center;
}

.contain-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-popup{
    display: block;
    margin: 15px;
    font-size: 1em;
    padding: 15px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 12px -3px #757575;
    border: 1px solid #bbb3b3;
}
.lost{

}
.win{

}
.play{

}

